<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="/newsfeed_data/News_feed"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <li><a href="/newsfeed_data/newsfeedContact">Contact Us</a></li>
          <li><a href="/newsfeed_data/newsfeedUsers">User's</a></li>
          <li><a href="/newsfeed_data/newsfeed_blogs ">Blog's</a></li>
        </ul>
      </div>
      <div class="right">
      <ul class="nav navbar-nav main_nav">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seting</a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="/newsfeed_data/newsfeeduser_Profile">User Profile</a></li>
            <li><a href="/newsfeed_data/newsfeed_updateProfile">Update Profile</a></li>
            <li><a href="/newsfeed_data/newsfeed_confirmPassword">Change Password</a></li> -->
            <li><a href="/newsfeed_data/Newsfeed_login">LogOut</a></li>
          </ul>
        </li>
      </ul>   
      </div>
    </nav>
  </section>