<footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Blog's</h2>
            <ul class="tag_nav">
              <li><a href="/newsfeed_data/newsfeed_blogs">Blogs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Information Links</h2>
            <ul class="tag_nav">
              <li><a href="/newsfeed_data/latestpost_News">Latest Post</a></li>
              <li><a href="/newsfeed_data/papularpost_News">Papular Post</a></li>
              <li><a href="/newsfeed_data/sport_News">Sport Post</a></li>
              <li><a href="/newsfeed_data/fashion_News">Fashion Post</a></li>
              <li><a href="/newsfeed_data/technology_News">Technology Post</a></li>
              <li><a href="/newsfeed_data/politics_News">Politics Post</a></li>
              <!-- <li><a href="#">Photo</a></li>
              <li><a href="#">Slider</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
            <ul class="tag_nav">
              <li><a href="/newsfeed_data/newsfeedContact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2020<a href="index.html">NewsFeed</a></p>
      <p class="developer">Developed By NewsFeed Company</p>
    </div>
  </footer>